@import 'var.scss';

.accountInfoDiv {
    display: flex;
    flex-direction: column;
    background-color: $offwhite;
    margin: 10px;
    padding: 10px;
    align-items: center;
    h1 {
        font-weight: bold;
    }
    button {
        @include webshop-button;
        width: fit-content;
        margin: 5px;
        font-size: 1.4em;
    }
    button:hover {
        background-color: $primary;
        transition: 0.3s;
    }
    label {
        font-weight: bold;
        padding-left: 5px;
        color: $light;
    }
    .userInfo {
        border: 4px solid $light;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

}