@import 'var.scss';

.add-product-form{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    
    input, textarea{
        height: 30px;
        width: 200px;
        color: black;
        vertical-align: top;
    }
}
.product-table{
    input{
        height: 30px;
        width: 200px;
    }
}

::placeholder {
    color: black;
}

.order-table {
    border: 1px solid black;
    background-color: $offwhite;
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    tr {
        border: 1px solid black;
        padding:10px;
    }
    th {
        padding: 10px;
    }
    td {
        padding: 10px;
    }
}

#set-as-delivered {
    margin-left: 40%;
}