// SEPI
@import "var.scss";


.carousel-item {
    :hover {
        cursor: pointer;
    }
    h5 {
        @include header-text;
    }

    img {
        width: 75%;
        height: 90vh;
        margin-left: 13vw;
    }
    p {
        @include text;
        font-size: 1.1em;
    }
}
.carousel-inner {
    margin:auto;
}
.carousel {
    background: black;
}
.ad-text-container {
    border-radius: 3px;
    /* background-color: $greige; Tarviiko tuota taustaväriä? tai pitäiskö sen olla ainakin läpinäkyvä? */
    
    
}

