// SEPI
@import "var.scss";


.carousel-item {
    :hover {
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 90vh;

    }
    h5 {
        @include header-text;
    }
    
    p {
        @include text;
        font-size: 1.1em;
    }
}

.ad-text-container {
    border-radius: 3px;
    /* background-color: $greige; Tarviiko tuota taustaväriä? tai pitäiskö sen olla ainakin läpinäkyvä? */
    
    
}

