// SEPI
@import "var.scss";


.carousel-item {

    :hover {
        cursor: pointer;
    }
    img {
        justify-content: center;
        
        width: 100%;
        height: 90vh;
        margin-left: auto;
    }
    h5 {
        @include header-text;
    }
    
    p {
        @include text;
        font-size: 1.1em;
    }
}

.carousel {
    background: black;
}
.ad-text-container {
    border-radius: 3px;
    /* background-color: $greige; Tarviiko tuota taustaväriä? tai pitäiskö sen olla ainakin läpinäkyvä? */
    
    
}

