@import "var.scss";

.contact-us-container {
    font-size: 1.3em;
        button {
            @include webshop-button;
            margin: 10px;
        }
        input, textarea {
            border: 1px solid $dark;
            border-radius: 5px;
        }
        textarea {
            height: 100px;
            width: 400px;
            font-size: 0.8em;        
        }
        button {
            width : 100px;
        }
}

.contact-us-story {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color:  $dark;
    border: 2px solid $dark;
    border-radius: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:500px){
    .contact-us-container {
        font-size: 1.3em;
            textarea {
                height: 100px;
                width: 300px;
                font-size: 0.8em;        
            }

    }
}