@import "var.scss";

footer {
    @include flexbox;
    flex-direction: column;
    background-color: $dark;
    height: 400px;
    text-align: center;
    h1 {
        @include header-text;
    }

    p {
        @include text;
        @include borders;
        padding: 10px;
        font-size: 1em;
    }

}
.footerLink{
    @include text;
    @include borders;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.footerLink:hover {
    background-color: $light;
}

@media screen and (max-width: 425px) {
        footer {
            height: 500px;
        }
}