@import "var.scss";

footer {
    @include flexbox;
    flex-direction: row;
    background-color: rgb(84, 6, 93);
    height: 250px;

    h1 {
        @include header-text;
    }

    p {
        @include text;
        @include borders;
        padding: 10px;
    }

}