@import "var.scss";

#nav {
    margin-bottom: 0 !important;

}
.navbar {
    background-color: rgb(142, 142, 142) !important;
    .nav-item {
        @include header-text;
    }
}
.navbar-brand {
    img {
        width: 150px;
        height: auto;
    }
}
.container-fluid {
    @include flexbox;
    justify-content: space-between;
    flex-direction: row;
}