@import "var.scss";

#nav {
    margin-bottom: 0 !important;
}
.navbar {
    background-color: $dark !important;
    .nav-item {
        @include header-text;
    }
}
.navbar-brand {
    img {
        width: 180px;
        height: auto;
    }
}
.nav-link {
    @include header-text;
    color: $greige;
    :hover {
        color: $accent;
    }
}
.icons {
    margin-left: auto;
    margin-bottom: 0px;
}

.shoppingCart {
    font-size: 2.5em;
    color: white;
    :hover {
        color: $light;
        cursor: pointer;
    }
}

.user {
    font-size: 2.5em;
    color: white;
    padding-right: 20px;
    :hover {
        color: $light;
        cursor: pointer;
    }
}
.loginDiv {
    position: absolute;
    top: 6vh;
    right: 8vh;
    z-index: 3;
}
.btn-dropdown {
    @include header-text;
    background-color: $dark;
    border-color: white;
    margin: 15px;
}
.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active, .btn-dropdown.active, .open>.dropdown-toggle.btn-dropdown {
    background-color: $light !important;
    border-color: white;
}
.dropdown-menu {
    background-color: $dark;
        :hover {
            background-color: $light;
        }
    .dropdown-item {
        @include header-text;
    }
}