@import "var.scss";

body{
    background-color: $greige;
}

.product-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #prdprice{
    color: $light;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
  }
  .product {
    @include text;
    font-size: 1.0em;
    color: black;
    display: flex;
    flex-direction: column; 
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: $offwhite;
    align-items: flex-start;
    h5 {
      @include header-text;
      color: black;
    }
  }
  #product-box {
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    a{
      text-decoration: none;
      color: black;
    }
    height: 500px;
        img {
          border-radius: 0px;
          transition: 0.4s;
        }
    transition: 0.4s;
  }
  #product-box:hover {
    border-radius: 20px;
      img {
        border-radius: 20px;
        height: 390px;
      }
      li {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0s linear;
      }
    height: 495px;
    box-shadow: 0px 13px 10px 7px rgb(75, 75, 75);
    transition: 0.4s;
  }
  // tää pitää vielä päivittää paremmaksi
  
  .backLink{
    font-size: 3em;
  }
 
  
  .product ul {
    margin: 0;
    padding: 20px;
  }

  #allProducts {
    h1 {
      display: block;
      @include header-text;
      color: $dark;
      margin-top: 10px;
      text-align: center;
      font-size: 3.8em;
      font-weight: 600;
    }
  }

  

  .divLink {
    
      text-decoration: none;
    
  }


  @media screen and (max-width: 500px) {

    .product-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-height: fit-content;
      flex-wrap: wrap;
    }
  
    #product-box.product {
      width: 100%;
      display: flex;
      flex-direction: row;
      max-height: 150px;
  
      img {
        width: 150px;
        height: 150px;
        display: inline-block;
        flex: 1;
      }
  
      li {
        display: none;
      }
  
      ul {
        flex: 2;
      }
  
      h5 {
        margin: 0;
        font-size: 1.6em;
      }

      #prdprice {
        font-size: 1.2em;
      }
  
      .product > a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        flex: 1;
      }
  
      .product > a > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        flex: 1;
      }
    }
  }
  
  
  