@import "var.scss";

body{
    background-color: $greige;
}

.product-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .product {
    @include text;
    font-size: 1.0em;
    color: black;
    display: flex;
    flex-direction: column; 
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: $offwhite;
    align-items: flex-start;
  }
  #product-box {
    height: 500px;
        img {
          border-radius: 0px;
          transition: 0.6s;
        }
    transition: 0.6s;
  }
  #product-box:hover {
    border-radius: 20px;
      img {
        border-radius: 20px;
        height: 425px;
      }
      li {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s linear;
      }
    height: 495px;
    box-shadow: 0px 13px 10px 7px rgb(75, 75, 75);
    transition: 0.6s;
  }
  // tää pitää vielä päivittää paremmaksi
  a{
    text-decoration: none;
    color: black;
  }
  .backLink{
    font-size: 3em;
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .product ul {
    margin: 0;
    padding: 20px;
  }

  h1 {
    display: block;
    @include header-text;
    color: $dark;
    font-size: 3em;
    text-align: center;
  }

  .divLink {
    
      text-decoration: none;
    
  }
  