@import "var.scss";

body{
    background-color: rgb(186, 186, 186);
}

.product-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* distribute the divs evenly */
  }
  
  .product {
    @include text;
    font-size: 1.0em;
    color: black;
    display: flex;
    flex-direction: column; /* set the flex-direction to column */
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color: azure;
    align-items: flex-start;
  }
  
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .product ul {
    margin: 0;
    padding: 20px;
  }

  h1 {
    display: block;
    @include header-text;
    font-size: 3em;
    text-align: center;
  }
  


/* @import "var.scss";

.product-container {
    @include text;
    @include header-text;
    background-color: rgb(186, 186, 186);
}

.product {
    @include text;
    color: black;
    display: inline-block;
    width: 300px;
    min-height: 500px;
    margin: 10px;
    background-color: azure;
    
}

img {
    width: 300px;
    height: 300px;
} */