@import 'var.scss';

.registryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;
    /* width: max-content; */
    min-height: 100%;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid $dark;
    overflow: hidden;
}

.registryAdvertisement {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $light;
    color: white;
    width: auto;
    min-height: 100vh;
    margin: 0px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    h1 {
        @include header-text;
        font-size: 2.5em;
        color: white !important;
        font-weight: bolder;
    }
    .checkMark {
        padding-right: 5px;
        font-size: 1.3em;
    }
}

.registryForm {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
    h1 {
        @include header-text;
        font-size: 2.5em;
        color: $light;
        font-weight: bolder;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
         label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        } 
        input {
            margin-left: auto;
            border: 1px solid $dark;
            border-radius: 3px;
            min-width: 300px;
        }
    }
}
.registerSuccess {
    h1 {
        @include header-text;
        font-size: 2.5em;
        color: $light;
        font-weight: bolder;
        text-align: center;
    }
    p {
        @include text;
        font-size: 1.5em;
        color: black;
        text-align: center;
    }

}
.registryButton {
    @include webshop-button;
    margin: 10px;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.registryButton:hover {
    background-color: $dark;
}

@media screen and (max-width: 800px) {
    .registryContainer {
        flex-direction: column;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100vw;
    }
    .registryAdvertisement {
        min-height: 0px;
        margin: 0px;
        margin-bottom: 10px;
        min-width: 100%;
    }
    .registryForm {
        margin: 0px;
        margin-top:10px;
        form {
            display: flex;
            flex-direction: column;
             label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                padding-left: 5px;
            } 
            input {
                margin-left: auto;
                border: 1px solid $dark;
                border-radius: 3px;
                min-width: 250px;
            }
        }
    }
}