@import 'var.scss';

body {
    @include text;
    font-size: 1.0em;
}

h5 {
    @include header-text;
    color: black;
}

button {
    background-color: black;
    color: white;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 2px;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  