@import 'var.scss';

body {
    @include text;
    font-size: 1.0em;
}

h5 {
    @include header-text;
    color: black;
}

.emptyCart {
  margin-left: 10px;  
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    p {
      margin-top: 10px;
      align-content: left;
  }
    .deleteItem {
      text-decoration: underline;
    }
    .deleteItem:hover {
      cursor: pointer;
    }
    .itemName {
      font-family: 'abel', sans-serif;
      font-size: 1.5em;
    }
    .left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      max-width: 50%;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
      }
      
      li {
        padding: 2px;
        align-items: left;
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      img {
        width: 150px;
        height: 150px;
        align-self: right;
      }
    }
  }

  .cartButton {
    @include button;
    margin: 5px;
    font-size: 1.4em;
  }
  
 
  
 
  