@import 'var.scss';


.thanks-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px 10px 20px 10px;
    background-color: $offwhite;
    font-size: 1.2em;
    h1 {
        font-weight: bolder;
        display: block;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 20px 0px 0px 20px;
        align-self: center;
        justify-self: center;
        
    }
}

.thanks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    .right {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        background-color: $light;
        border-radius: 0px 20px 20px 0px;
        color: white;
        text-align: center;
        padding: 10px 10px 0px 10px;
        .spinner {
            font-size: 2em;
            margin-top: 20px;
        }
    }

}

@media screen and (max-width: 640px) {
    .thanks {
        flex-direction: column;
        .right {
            border-radius: 20px;
            width: 100%;
            height: fit-content;
            margin-top: 10px;
            padding: 10px 10px 0px 10px;
            .spinner {
                font-size: 1.5em;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 20px;
        }
    }
}